body {
  /* Heading */
  margin: 2%;
  background-color: rgb(10, 22, 52);
  font-family: 'Montserrat', sans-serif;
}

p1 {
  /* Description */
  text-align: justify;
  width: 50%;
  font-family: 'Montserrat', sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #3f3f3f;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 25px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #91a0b0;
  color: black;
}

.topnav a.active {
  background-color: #0c5b94;
  color: white;
}

li {
  /* Sources */
  color: white;
  font-size: large;
}

.header{
  background-image:url(Pictures\template_pic.jpeg);
}

h1{
  color: lightblue;
  font-family: Montserrat;
  src: url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300);
}